.users{
    
    display: grid;
    grid-auto-rows: 15vh;
    grid-template-columns: 8fr 4fr;
    background-color: #e9b856;
}

.user{
    background-color: #fdd689;
    padding: 1vw;
    color: rgb(2, 37, 2);
    font-size: 3vh;
    font-weight: bold;
    border-bottom: rgb(78, 22, 12);
    box-shadow: 1px 1px 3px 0px rgb(255, 72, 0);
    border-radius: 0 3vw 3vw 0 ; 
    grid-column: 1/2 ;
    margin: 1vh;
}

.user_grid{
    display: grid;
    grid-template-columns: 4vw 17vw auto 6vw;
}


.user_grid img{
    width: 100%;
}
p{
    margin: 0;
    padding: 0 0 0 3vw;
    height:2vw;
    font-size: 2.5vh;
}
.user_grid :nth-child(2):nth-child(2){
    font-size: 2vh;
    font-weight:medium;
}