.header{
  grid-area:h ;
  background-color: #99ffcc;
}
.header img{
  width:17vw;
  margin: 0.6vw ;
 }
.headerGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.headerGrid div{
    width: 20vw;
}
.loginLink{
  color:white;
}
.loginBlock > span{
  color:#92eecf;
  text-shadow: 1px 1px 2px rgb(32, 31, 31);
}
b{
  margin-right: 2vw;
}
.loginBlock button{
  background-color: #77e0ac ;
  color: white;
}
@media only screen and(min-width:600px){
  .header img{
    flex-grow:3;
   }
}