.header{
  grid-area:h ;
  background-color: #99ffcc;
}
.header img{
  width:17vw;
  margin: 0.6vw ;
 }
.headerGrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.headerGrid div{
    width: 20vw;
}
.loginLink{
  color:white;
}
