.nav{
  grid-area:n ;
  background-color: #99ffcc;
  padding:2vw;
}

.item a{
  color:white;
  text-decoration: none;
}

.item a.activeLink {
  color:rgb(255, 72, 0);
  
}

.friendsBlock{
  width: 100%;
}