.selectPage{
    font-weight: bold;
    color: rgb(34, 26, 10);
}

.numbersPages{
    grid-row: 1/6;
    grid-column: 2/3 ;
    
}
.pagesPortion{
    width: 4.2vw;  
    margin-top: 1vh;
}
.pagesPortion button{
    border-radius: 45%;
    background-color:#e9c172;
    width: 4vw;  
    height: 3vw;
    color:white;
    border-color: #f5ca75;
}
.pagesPortion  :first-child{
    background-color: #ddb462;
    border-radius: 30%;
}
.pagesPortion  :nth-child(12){
    background-color: #ddb462;
    border-radius: 30%;
}