.selectPage{
    font-weight: bold;
}

.pagesPortion button{
    width: 4vw;  
    height: 2vw;
}

.numbersPages{
    grid-row: 1/6;
    grid-column: 2/3 ;
    
}
.pagesPortion{
    width: 4.2vw;  
    height: 19vw;
    border: solid 1px red;
}
.specBut{
    background-color: thistle;
    width: 4vw;  
    height: 4vw;

}