

.item{
  background-color: #ffcc66;
  margin: 2em 2em 2em 0;
  padding: 2em;
}

.item img{
  height: 8vh;
  width: 4vw;
  margin: 1em;
  border-radius: 30px;
}
.item p{
  text-decoration: andeline;
}