span{
  margin: 1vh;
}

.item{
  background-color: #ffcc66;
  padding: 2vw;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.item img{
  height: 8vh;
  width: 4vw;
  margin: 1vw;
  border-radius: 30px;
}
