.app-wrapper{
 display:grid;
  width: 75vw;
  margin: 0 auto;
 grid-template-areas:
 "h h"
 "n s";

 grid-template-rows: 9vh 1fr;
 grid-template-columns: 2fr 10fr;
 grid-gap: 1.5vw;
}

.content{
    grid-area:s ;
    
  }


